.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table{
  border-collapse: collapse;
}
tr{
  display: flex;
  margin: 5px;
  width: 350px;
}
td{
  border-bottom: 1px solid lightgray;
  padding: 10px 10px;
  cursor: pointer;
}
td:first-child {
  font-weight: bold;
  flex-grow: 1
}
.celebrated{
  color: gray;
}